    <br><br><br>
    <div class="container py-2">
        <div class="row text-center align-items-center">
        <div class="head-parrafo">
            <p>
            ADMINISTRACION PARA CAFETERIA
            </p>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="separator">
            <div class="line"></div>
            <img
                src="../../../assets/img/pngegg.png"
                width="50"
                height="50"
                alt="Separador"
                class="img-fluid"
            />
            <div class="line"></div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <a class="nav-link" routerLink="/menu">
            <div class="link-container">
                <img src="../../../assets/img/productoscafe.jpg" alt="Productos del Menu">
                <div class="overlay">PRODUCTOS DEL MENU</div>
            </div>
        </a>
        <a class="nav-link" routerLink="/reserva">
            <div class="link-container">
                <img src="../../../assets/img/reservascafe.jpg" alt="Reservas">
                <div class="overlay">RESERVAS</div>
            </div>
        </a>
        <a class="nav-link" routerLink="/locales">
            <div class="link-container">
                <img src="../../../assets/img/localescafe.jpg" alt="Locales">
                <div class="overlay">LOCALES</div>
            </div>
        </a>
        <a class="nav-link" routerLink="/usuarios">
            <div class="link-container">
                <img src="../../../assets/img/usuariocafe.jpg" alt="Usuarios">
                <div class="overlay">USUARIOS</div>
            </div>
        </a>
    </div><br><br><br>
<router-outlet></router-outlet>
