<br><br><div class="container py-2">
  <div class="row text-center align-items-center">
    <div class="head-parrafo">
      <p>LISTADO DE NUESTRAS RESERVAS</p>
    </div>
  </div>
</div>
<div class="container py-5 text-center">
  <a class="btn btn-secondary btn-custom" [routerLink]="'/registrar-reserva-admin'">Agregar una nueva Reserva</a>
</div>
<div class="container text-center search-container">
  <span class="search-label">Buscar Reserva:</span>
  <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Nombre del Usuario">
</div>
<div class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table table-hover">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let dato">{{dato.id}}</td>
      </ng-container>
      
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let dato">{{dato.nombre}}</td>
      </ng-container>
      
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let dato">{{dato.correo}}</td>
      </ng-container>
      
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let dato">{{dato.telefono}}</td>
      </ng-container>
      
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad de Personas</th>
        <td mat-cell *matCellDef="let dato">{{dato.cantidad}}</td>
      </ng-container>
      
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let dato">{{dato.fecha}}</td>
      </ng-container>
      
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let dato">{{dato.hora}}</td>
      </ng-container>
      
      <ng-container matColumnDef="mensaje">
        <th mat-header-cell *matHeaderCellDef>Mensaje</th>
        <td mat-cell *matCellDef="let dato">{{dato.mensaje}}</td>
      </ng-container>
      
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef colspan="3">Acciones</th>
        <td mat-cell *matCellDef="let dato" colspan="3">
          <button class="btn btn-info btn-separado" (click)="irActualizar(dato.id)">Actualizar</button>
          <button class="btn btn-danger btn-separado" (click)="eliminarReserva(dato.id)">Eliminar</button>
          <button class="btn btn-warning btn-separado" (click)="detalleReserva(dato.id)">Ver Detalle</button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>
