<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="card-content">
              <strong><h5 class="card-title text-center mb-4">REGISTRA UNA NUEVA CATEGORÍA</h5></strong>
              <form (ngSubmit)="registrarCategoria()">
                <div class="mb-3">
                  <strong><label for="nombre" class="form-label">Nombre de la Categoría *</label></strong>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevaCategoria.nombre" required>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-registrar btn-custom">Registrar Nueva Categoría</button>
                  <button type="button" class="btn btn-primary btn-custom" (click)="regresar()">Regresar</button>
                </div>
                <br>
                <div *ngIf="mensajeConfirmacion" class="alert alert-success">
                  {{ mensajeConfirmacion }}
                </div>
                <div *ngIf="mensajeError" class="alert alert-danger">
                  {{ mensajeError }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  